/*sub.css*/

/*sub1-1 기업소개*/
#sub-title{
    width: 100%;
    position: relative;
    height: 388px;
}

#sub-header{
    width: 1920px;
    height: 388px;
    background: #abc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/sub1-1title-bg.jpg);
}

#sub-header .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-header .container h2{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

#main h3 {
    font-size: 34px;
}

#lnb {
    border-bottom: 1px solid #0066cc;
}

#lnb ul {
    display: flex;
    justify-content: center;
}

#lnb ul a{
    font-size: 18px;
    display: block;
    padding: 16px 30px;
}

#lnb ul > li.active > a {
    border-bottom: 4px solid var(--main-color);
    color:var(--main-color);
}

#main .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

#sub1-1 #main article{
    display: flex;
    flex-wrap: wrap;
}

#sub1-1 #main article img {
    width: 50%;
    height: 420px;
}
#sub1-1 #main article .article-group:first-of-type{
    width: 50%;
    padding-left: 60px;
}

#sub1-1 #main article p em{
    color:var(--main-color);
    font-style: normal;
}

#sub1-1 #main article .article-group:last-child {
    margin-top: 50px;
}
